<div>
    <h1>Announcement Bar</h1>
</div>


{% schema %}
    {
        "name": "Announcement Bar",
        "class": "Announcement",
        "settings": [
        
        ]
    }
{% endschema %}
