<div>
  <h1>{{section.settings.announcementID}}</h1>
</div>


{% schema %}
  {
    "name": "Announcement Bar Name",
    "class": "announcement class",
    "settings": [
      {
        "type": "text",
        "id": "announcementID",
        "label": "Announcement Level",
        "default":"Announcement Bar Text"
      },
    ]
  }
{% endschema %}